main *:not(style) {
    display: flex;
    align-items: center;
    justify-content: center;
}

$gameBcg: #5C9099;

.game {
    flex-direction: column;
    background-color: $gameBcg;
    border-radius: 5%;
    padding: 2vw;
}
.game_field {
    border: $gameBcg solid 6px;
    position: relative;
}
.game_tile {
    opacity: 0;
    position: absolute;
    z-index: 2;
    background-color: #BFD5D9;
    width: 100%;
    height: 100%;
    border-radius: 3%;
    color: #3d666d;
    font-size: 23px;
    transition: 
            opacity 0s,
            transform 0s;
}
.show {
    transition: opacity 500ms;
}
.show_no_transition {
    opacity: 100%;
}

.tile_0 {
    z-index: 1 !important;
    background-color: #81ACB1;
}